<div class="jumbotron jumbotron-fluid", style="background-color: #e0e0e0">
  <div class="container">
    <h1 class="display-4" >自転車紹介ページ</h1>
    <p class="lead">初めて自転車を買う方に向けてこのWebページを作成しました。</p>
  </div>
</div>